# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
PGPORT=5433

# Spring
SPRING_DATA_SOURCE_URL=jdbc:postgresql://spring-db:5433/ # add table name after the slash
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
