# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
PGPORT=5433


# Spring Boot
# Docker:
SPRING_DATASOURCE_URL=jdbc:postgresql://spring-db:${PGPORT}/${POSTGRES_DB}

# Local:
# SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:${PGPORT}/${POSTGRES_DB}
SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
