# Postgres
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_DB=
DATABASE_PORT=5433
DATABASE_HOST=spring-db


# Spring Boot
SPRING_DATASOURCE_URL=jdbc:postgresql://spring-db:${PGPORT}/${POSTGRES_DB}
SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}

# JWT Secret Key
SPRING_SECURITY_JWT_SECRET_KEY=

# 15 * 60 * 1000
SPRING_SECURITY_JWT_ACCESS_EXP=

# 60 * 60 * 1000 -> minutes
# 60 * 60 * 24 * 1000 -> hours
SPRING_SECURITY_JWT_REFRESH_EXP=
